body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


div{
  margin: 0;
  padding: 0;
}

.grids{
  display: grid;
  grid-template-rows: 60px 3fr 1fr;
}

.nav-head-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 0;
  border-bottom: 2px solid gray;
  color: black;
  margin: 0 70px;
  width: 90%;
  text-align: center;
  justify-items: start;
}


/* Creating the navbar using a grid
ul{list-style: none;
display: grid;
grid-template-columns:  1fr 1fr 1fr 2fr 2fr 1fr;
column-gap: 0;


}*/

/*Creating a navbar using flexbox*/
ul{list-style: none;
display: flex;
flex-basis: content;
flex-wrap: wrap;
width: 96%;
}

a{text-decoration: none;
color: black;
margin: 0;
}

a:hover{
  color: #495E57;
}

li{margin-left: 0;
  margin-right: 20px;
  margin-left: 0;
  padding-left:10px;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero-image{
  height: 40%;
  background-color: #495E57;
  margin: 0;
  padding:  0;
  width: 100%;
  
}

h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}

.heading{
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  color: #F4CE14;
  padding-bottom: 4px;
  margin-bottom: 0;
  padding-left: 70px;
  
}
.table-head{
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  color: #495E57;
}
.table-subhead{
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
}


.location{
  font-family:'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
  color: #EDEFEE;
  padding-left: 70px;
  
}

.image-grid{
  display: flex;
  
  
}

.description{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 30%;
  padding-left: 70px;
  color: #fff;
  text-align: left;
}

.reserve-table{
  padding: 6px 24px;
  background-color: #F4CE14;
  color: black;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #F4CE14 ;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 16px;
  border: 0;
}

.submit-btn{
  padding: 16px 64px;
  background-color: #F4CE14;
  color: black;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #495E57 ;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #495E57;
  margin-right: 20px;
  
}

.weeks-special{
  font-family:'Markazi Text', serif;
  font-weight: 400;
  
  font-size: 36px;
  display: flex;
  padding-left: 30%;
  padding-top: 64px;
  padding-right: 25%;
  justify-content: space-evenly;
}

.week{flex: 1;

}

.online-menu{
  padding: 8px 16px;
  background-color: #F4CE14;
  color: black;
  border: 1px solid #F4CE14; 
  border-radius: 8px;
  box-shadow: 1px 1px 5px ;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 18px;
  
}

.dishes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20;
  margin-right: 20px;
  margin-top: 40px;
  padding: 10px 70px;
  
  
  
}

.greek-dessert{
  background-color: #EDEFEE ;
  margin-right: 40px;
  width: 100;
  border-radius: 8px;
}

.bruchetta{
  background-color: #EDEFEE ;
  margin-right: 40px;
  border-radius: 8px;
}

.lemon-dessert{
  background-color: #EDEFEE ;
  border-radius: 8px;
  
}

.price-flex{
  display: flex;

  margin: 0;
  justify-content: space-around;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  
  padding: 0;
  
  
}
.para{
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 5% 16.5%;
  padding: 0;
  text-align: justify;

  
}

  
  

  

.price{
  padding:0;
  color: #ee9972;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  
  
}
.order{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  text-align: justify;
  margin: 5% 16.5%;
  padding: 0;

}
footer{
  height: 100%;
  background-color: #fff;
  color: #495E57;
  text-align: center;
  padding: 20px 0;
  margin: 40px 0;

}